<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/css/lightbox.min.css">
    <link rel="stylesheet" href="static/Home_style.css">  
    <link rel="stylesheet" type="text/css" href="/static/navigation.css">
    
</head>

<body>
   
    <header>
    <div class="wrapper">
        <div class="logo">
            <img src="https://bit.ly/3GeMjH7" alt="">
        </div>
<ul class="nav-area">
<li><a href="#">Home</a></li>
<li><a href="#">About</a></li>
<li><a href="/Stu_login">Loging</a></li>
<li><a href="#">Portfolio</a></li>
<li><a href="#">Contact</a></li>
</ul>
</div>
<div class="welcome-text">
    <div>
        <nav class="navbar navbar-light navbar-expand-md navigation-clean">
           
                    <!-- class="collapse navbar-collapse" id="navcol-1"> -->
    </div>
    </nav>
    </div>
    <div class="photo-gallery">
        <div class="container">
            <div class="intro">
                <h2 class="text-center" id="hd">Welcome To UniNav &nbsp;</h2>
                <p class="text-center">Choose Your Right Path</p>
            </div>
            <div class="row photos">
                <div class="col-sm-8 col-md-4 col-lg-6 item"><a href="/Aindex"><img class="img-fluid" src="/static/123.jpg"></a>select Sutaiable Course</div>
                <!-- <div class="col-sm-8 col-md-4 col-lg-6 item"><a href="/view"><img class="img-fluid" src="static/toys.png"></a>View All Data</div> -->
                <div class="col-sm-8 col-md-4 col-lg-6 item"><a href="/index"><img class="img-fluid" src="/static/111.jpg"></a>Select Sutaiable Specialization</div>
                <div class="col-sm-8 col-md-4 col-lg-6 item"><a href="/tindex" ><img class="img-fluid" src="/static/666.png"></a>Select Elective Models</div>
                <div class="col-sm-8 col-md-4 col-lg-6 item"><a href="/udari_index"><img class="img-fluid" src="/static/234.png"></a>Churn Pediction</div>
                <!-- <div class="col-sm-8 col-md-4 col-lg-6 item"><a href="" data-lightbox="photos"><img class="img-fluid" src="static/doc.jpg"></a></div> -->
                <!-- <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="static/img/desk.jpg" data-lightbox="photos"><img class="img-fluid" src="static/img/desk.jpg"></a></div> -->
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/js/lightbox.min.js"></script>
</body>
<footer class="bg-dark text-white pt-5 pb-4" style="margin-right: -13px; margin-left: -10px;">
    <div class="container text-left text-md-left">
        <div class="row text-left text-md-left">
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 font-weight-bold text-warning">SLIIT</h5>
                <p>We are a leading non-state higher education institute approved by the University Grants Commission (UGC) under the Universities Act. We are members of the Association of Commonwealth Universities (ACU), as well as the International Association of Universities (IAU). We are also the first Sri Lankan institute to be accredited by the Institute of Engineering & Technology( IET), UK and Engineering Council, UK.</p>
            </div>

            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 font-weight-bold text-warning">About SLIIT</h5>
                <P>
                    <a href="#" class="text-white" style="text-decoration: none;">About</a>  
                </P>
                <P>
                    <a href="#" class="text-white" style="text-decoration: none;">Programmes</a>  
                </P>
                <P>
                    <a href="#" class="text-white" style="text-decoration: none;">Facilities</a>  
                </P>
                <P>
                    <a href="#" class="text-white" style="text-decoration: none;">Contact Us</a>  
                </P>
            </div>

            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Student Life</h5>
                <P>
                    <a href="#" class="text-white" style="text-decoration: none;">Career Guidance</a>  
                </P>
                <P>
                    <a href="#" class="text-white" style="text-decoration: none;">Clubs & Societies</a>  
                </P>
                <P>
                    <a href="#" class="text-white" style="text-decoration: none;">Student Events</a>  
                </P>
                <P>
                    <a href="#" class="text-white" style="text-decoration: none;">Sports</a>  
                </P>
            </div>

            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Contact</h5>
                <P>
                    <i class="fas fa-home mr-3"></i>New Kandy road,Malabe, Sri Lanka 
                </P>
                <P>
                    <i  class="fas fa-envelope mr-3"></i>info@sliit.lk
                </P>
                <P>
                    <i  class="fas fa-phone mr-3"></i>+94 112347856
                </P>
                <P>
                    <i  class="fas fa-print mr-3"></i>+94 112347857
                </P>

            </div>

        </div>

        <hr class="mb-4">
        <div class="row align-items-center">
            <div class="col-md-7 col-lg-8">
                <p> Copyright 02020 All rights reserved by:
                    <a href="#" style="text-decoration: none;">
                        <strong class="text-warning">The providers</strong>
                    </a>
                </p>
            </div>

            <div class="col-md-5 col-lg-4">
                <div class="text-center text-md-right">
                    <ul class="list-unstyled list-inline">
                        <li class="list-inline-item">
                            <a href="#" class="btn-floating btn-sm text-white" style="font-size: 23px;"><i class="fab fa-facebook"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#" class="btn-floating btn-sm text-white" style="font-size: 23px;"><i class="fab fa-twitter"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#" class="btn-floating btn-sm text-white" style="font-size: 23px;"><i class="fab fa-google-plus"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#" class="btn-floating btn-sm text-white" style="font-size: 23px;"><i class="fab fa-linkedin-in"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#" class="btn-floating btn-sm text-white" style="font-size: 23px;"><i class="fab fa-youtube"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>

</footer>

</html>