<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}


.column1 {
  float: left;
  width: 50%;
  margin-bottom: 16px;
  padding: 0 8px;
  
}

.card1 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
  background-color: #a0a8f1;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}

.container1 {
  padding: 0 16px;
}

.container1::after, .row1::after {
  content: "";
  clear: both;
  display: table;
}

.title1 {
  color: rgb(26, 17, 17);
}

.button1 {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}
.button2 {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: rgb(37, 39, 114);
    text-align: center;
    cursor: pointer;
    width: 100%;
  }

.button1:hover {
  background-color: #555;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}
</style>
</head>
<body>

    <div class="about-section">
        <h1>About Your Churn Prediction</h1>
        <p>We help to find your churn prediction through your GPA calculation. </p>
        
    </div>

    <h2 style="text-align:center"> Churn Prediction Statuses</h2>

    <div class="row1">

        <div class="column1">
            <div class="card1">
            
                <div class="container1">

                    <h2 style="text-align:center ;"><button class="button2"><h2> Distinctive…! </h2></button></h2>

                    <p class="title1">About Distinctive status</p>
                    
                    <p>We conducted a survey at our university to estimate the churn prediction 
                        using GPA calculation. You filled out the information (Module marks, 
                        current specialization, alternative preferring degree, working or not etc.)  
                        for the churn prediction form as a second-year student, and by the end of 
                        your fourth year, you can bring your overall GPA to more than 3.6.
                    </p>
                    <h3>we have believed that you will be able to move forward without any external 
                        influences other than the current things if you work the way you are currently working.
                    </h3>
                    
                    <h2>Good Luck for your Future…!</h2>

                    <p><button class="button1"></button></p>

                </div>
            </div>
        </div>

        <div class="column1">

            <div class="card1">
            
                <div class="container1">

                    <h2 style="text-align:center ;"><button class="button2"><h2> Very Good…! </h2></button></h2

                    <p class="title1">About Very Good status</p>

                    <p>We conducted a survey at our university to estimate the churn prediction 
                        using GPA calculation. You filled out the information (Module marks, 
                        current specialization, alternative preferring degree, working or not etc.)  
                        for the churn prediction form as a second-year student, you can bring your 
                        overall GPA between 3.01 - 3.61 at the end of your fourth year.
                    </p>

                    <h3>we have believed that you will be able to move forward without any external 
                        influences other than the current things if you work the way you are currently working.
                    </h3>

                    <h2>Good Luck for your Future…!</h2>
                        
                    <p><button class="button1"></button></p>

                </div>
            </div>
        </div>
     
    </div>
    <div class="row1">

        <div class="column1">
            <div class="card1">
            
            <div class="container1">

                    <h2 style="text-align:center ;"><button class="button2"><h2> Good…! </h2></button></h2>

                    <p class="title1">About Good status</p>

                    <p>We conducted a survey at our university to estimate the churn prediction 
                        using GPA calculation. You filled out the information (Module marks, 
                        current specialization, alternative preferring degree, working or not etc.)  
                        for the churn prediction form as a second-year student, you can bring your 
                        overall GPA between 2.51 - 3.00 at the end of your fourth year.
                    </p>

                    <h3>we have believed that you will be able to move forward without any external 
                        influences other than the current things if you work the way you are currently working.
                    </h3>

                    <h2>Good Luck for your Future…!</h2>

                    <p><button class="button1"></button></p>

                </div>
            </div>
        </div>

        <div class="column1">
            <div class="card1">
            
            <div class="container1">

                <h2 style="text-align:center ;"><button class="button2"><h2> Near at risk of drop out…!</h2></button></h2>

                    <p class="title1">About near at risk of drop out status</p>

                    
                    <p>We conducted a survey at our university to estimate the churn prediction using 
                        GPA calculation. You filled out the information (Module marks, current specialization, 
                        alternative preferring degree, working or not etc.)  for the churn prediction form as a 
                        second-year student, you can bring your overall GPA between 2.00 – 2.50 at the end of your 
                        fourth year.
                    </p>

                    <h3>We think you can reach the GPA that works better if you replace out the current Specialization
                        Degree for another suitable Specialization Degree.
                    </h3>
                    
                    <h2>Good Luck for your Future…!</h2>

                    <p><button class="button1"></button></p>

                </div>
            </div>
        </div>
        
    </div>

    <div class="row1">
        
        <div class="column1">
            <div class="card1">

            
                <div class="container1">

                    <h2 style="text-align:center ;"><button class="button2"><h2>At risk of drop out…! </h2></button></h2> 

                    <p class="title1">About at risk of drop out status</p>

                    <p>We conducted a survey at our university to estimate the churn prediction using GPA 
                        calculation. You filled out the information (Module marks, current specialization, 
                        alternative preferring degree, working or not etc.)  for the churn prediction form 
                        as a second-year student, you can bring your overall GPA between 1.10 – 2.00 at the 
                        end of your fourth year.
                    </p>

                    <h3>We think you can reach the GPA that works better if you replace out the current Specialization
                        Degree for another suitable Specialization Degree.
                    </h3>

                    <h2>Good Luck for your Future…!</h2>
                    
                    <p><button class="button1"></button></p>

                </div>
            </div>
        </div>
        
        <div class="column1">
            <div class="card1">
            
                <div class="container1">

                    <h2 style="text-align:center ;"><button class="button2"><h2>Try to find better suitable specialization degree…! </h2></button></h2>

                    <p class="title1">About try to find better suitable specialization degree status</p>

                    <p>We conducted a survey at our university to estimate the churn prediction using GPA 
                        calculation. You filled out the information (Module marks, current specialization, 
                        alternative preferring degree, working or not etc.)  for the churn prediction form 
                        as a second-year student, you can bring your overall GPA lower than 1.00 at the end 
                        of your fourth year
                    </p>

                    <h3>You are not qualified to obtain a degree. We advise you to change specializations 
                        as soon as possible. 
                    </h3><br>
                    

                    <h2>Good Luck for your Future…!</h2>

                    <p><button class="button1"></button></p>

                </div>
            </div>
        </div>
    
    </div>

</body>
</html>
