<!DOCTYPE html>
<html>
<head>
	<title>Information Technology Section</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
	<link rel="stylesheet" type="text/css" href="static/style(IT).css">
</head>	
<body>
	<div class="section">
		<div class="container">
			<div class="content-section">
				<div class="title">
					<h2>According to your knowledge suitable Specialization is Information Technology</h2>
				</div>
				<div class="content">
					<h3>About the Program</h3>
					<br>
					<p>You will use Python as a tool for learning network and other programming. Linux skills are taught throughout
					   the course starting with the basics and progressing to advanced topics. Graduates of the course will have 
					   sound knowledge of computer systems and processes involved in software development and maintenance.</p>
					<div class="button">
						<a href="/index">Read More</a>
					</div>
				</div>
				<div class="social">
					<a href=""><i class="fab fa-facebook-f"></i></a>
					<a href=""><i class="fab fa-twitter"></i></a>
					<a href=""><i class="fab fa-instagram"></i></a>
				</div>
			</div>
		</div>
	</div>

	
</body>
</html>