<!DOCTYPE html>
<!--Code by Divinector (www.divinectorweb.com)-->
<html lang="en">
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>How to Create responsive Homepage</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/Home_style.css">    
</head>
<body>
    <header>
    <div class="wrapper">
        <div class="logo">
            <img src="https://bit.ly/3GeMjH7" alt="">
        </div>
<ul class="nav-area">
<li><a href="#">Home</a></li>
<li><a href="#">About</a></li>
<li><a href="C:\Users\HP\Desktop\HOME_Page\Interfaces_research\Interfaces_research\NewStudentsDetails.html">Registration</a></li>
<li><a href="#">Portfolio</a></li>
<li><a href="#">Contact</a></li>
</ul>
</div>
<div class="welcome-text">
        <h1>
We are <span>Creative</span></h1>
<div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Prediction
		<span class="caret"></span></button>
		<ul class="dropdown-menu">
			<li><a href="C:\Users\HP\Desktop\HOME_Page\Interfaces_research\Interfaces_research\StudentDetailsSection1.html">Recommend the Course</a></li>
			<li><a href="/index">Recommend the Specialization</a></li>
			<li><a href="/tindex">Elective Model</a></li>
			<li><a href="/udari_index">Churn Prediction</a></li>
		</ul>
	</div>
</header>

</body>
</html>
